<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HyperCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HyperCard.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>Chinese_Simplified</value>
            </setting>
            <setting name="defsave" serializeAs="String">
                <value>Virtual_Play_Table</value>
            </setting>
            <setting name="defopen" serializeAs="String">
                <value>Virtual_Play_Table</value>
            </setting>
            <setting name="savetime" serializeAs="String">
                <value />
            </setting>
            <setting name="manaB" serializeAs="String">
                <value />
            </setting>
            <setting name="manaG" serializeAs="String">
                <value />
            </setting>
            <setting name="manaR" serializeAs="String">
                <value />
            </setting>
            <setting name="manaU" serializeAs="String">
                <value />
            </setting>
            <setting name="manaW" serializeAs="String">
                <value />
            </setting>
            <setting name="manaBG" serializeAs="String">
                <value />
            </setting>
            <setting name="manaBR" serializeAs="String">
                <value />
            </setting>
            <setting name="manaGU" serializeAs="String">
                <value />
            </setting>
            <setting name="manaGW" serializeAs="String">
                <value />
            </setting>
            <setting name="manaRG" serializeAs="String">
                <value />
            </setting>
            <setting name="manaRW" serializeAs="String">
                <value />
            </setting>
            <setting name="manaUB" serializeAs="String">
                <value />
            </setting>
            <setting name="manaUR" serializeAs="String">
                <value />
            </setting>
            <setting name="manaWB" serializeAs="String">
                <value />
            </setting>
            <setting name="manaWU" serializeAs="String">
                <value />
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>Database.db</value>
            </setting>
        </HyperCard.Properties.Settings>
    </userSettings>
</configuration>